NameVirtualHost *:80

<VirtualHost *:80>
    ServerName {{ lookup('env','alias') }}.{{ lookup('env','servername') }}
    ServerAlias { lookup('env','alias') }}.{{ lookup('env','servername') }}
    DocumentRoot /var/www/{{ lookup('env','alias') }}/public_html
    ErrorLog /var/www/{{ lookup('env','alias') }}/error.log
    CustomLog /var/www/{{ lookup('env','alias') }}/requests.log combined
    <Directory /var/www/{{ lookup('env','alias') }}/public_html>
    Options Indexes FollowSymLinks
    AllowOverride All
    Require all granted
   </Directory>  



</VirtualHost>
